## Nama : Salsabillah
## Nim : 202231033

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('kaca.csv', sep = ';')
dataset

    No Data Jenis Barang     Merk   Harga        Kelas
0         1       kramik  Vicenza  385500        Laris
1         2       kramik  Vicenza  538500        Laris
2         3       kramik  Vicenza  538500        Laris
3         4      plastik  Sunlife   18300        Laris
4         5      plastik  Sunlife   12500        Laris
5         6      plastik     Fori   27500        Laris
6         7         Kaca  Vicenza  520000        Laris
7         8         Kaca  Sunlife  179000  Tidak Laris
8         9       kramik  Sunlife  178000        Laris
9        10       kramik  Vicenza   44500        Laris
10       11         Kaca  Vicenza  600000        Laris
11       12         Kaca  Sunlife  285000  Tidak Laris
12       13         Kaca  Sunlife  329000  Tidak Laris
13       14         Kaca  Vicenza  415000        Laris
14       15       kramik  Vicenza  309000        Laris
15       16       kramik  Vicenza  865000        Laris
16       17       kramik     Fori  999000        Laris
17       18      plastik     Fori  339000        Laris
18       19      plastik    Fiori  289000        Laris
19       20      plastik    Fiori  559500        Laris

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No Data       20 non-null     int64
 1   Jenis Barang  20 non-null     object
 2   Merk          20 non-null     object
 3   Harga         20 non-null     int64
 4   Kelas         20 non-null     object
dtypes: int64(2), object(3)
memory usage: 932.0+ bytes

In [4]:
categorical_features = [feature for feature in dataset.columns
                        if dataset[feature].dtypes == "O"]
dataset[categorical_features]

   Jenis Barang     Merk        Kelas
0        kramik  Vicenza        Laris
1        kramik  Vicenza        Laris
2        kramik  Vicenza        Laris
3       plastik  Sunlife        Laris
4       plastik  Sunlife        Laris
5       plastik     Fori        Laris
6          Kaca  Vicenza        Laris
7          Kaca  Sunlife  Tidak Laris
8        kramik  Sunlife        Laris
9        kramik  Vicenza        Laris
10         Kaca  Vicenza        Laris
11         Kaca  Sunlife  Tidak Laris
12         Kaca  Sunlife  Tidak Laris
13         Kaca  Vicenza        Laris
14       kramik  Vicenza        Laris
15       kramik  Vicenza        Laris
16       kramik     Fori        Laris
17      plastik     Fori        Laris
18      plastik    Fiori        Laris
19      plastik    Fiori        Laris

In [5]:
for i in categorical_features:
    print(dataset[i].unique())

['kramik' 'plastik' 'Kaca']
['Vicenza' 'Sunlife' 'Fori' 'Fiori']
['Laris' 'Tidak Laris']

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

for feature in categorical_features:
    print(dataset[feature].unique())
    dataset[feature] = label_encoder.fit_transform(dataset[feature])
    print(dataset[feature].unique())

['kramik' 'plastik' 'Kaca']
[1 2 0]
['Vicenza' 'Sunlife' 'Fori' 'Fiori']
[3 2 1 0]
['Laris' 'Tidak Laris']
[0 1]

In [7]:
dataset

    No Data  Jenis Barang  Merk   Harga  Kelas
0         1             1     3  385500      0
1         2             1     3  538500      0
2         3             1     3  538500      0
3         4             2     2   18300      0
4         5             2     2   12500      0
5         6             2     1   27500      0
6         7             0     3  520000      0
7         8             0     2  179000      1
8         9             1     2  178000      0
9        10             1     3   44500      0
10       11             0     3  600000      0
11       12             0     2  285000      1
12       13             0     2  329000      1
13       14             0     3  415000      0
14       15             1     3  309000      0
15       16             1     3  865000      0
16       17             1     1  999000      0
17       18             2     1  339000      0
18       19             2     0  289000      0
19       20             2     0  559500      0

In [8]:
x =  dataset.drop(['Kelas','No Data'],axis = 1)
y = dataset['Kelas']

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [10]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [11]:
y_pred_train = model.predict(x_train)
y_pred_test = model.predict(x_test)

In [12]:
x_baru = np.array([[2,3,44500]])
y_pred_baru = model.predict(x_baru)
y_pred_baru

C:\Users\salsabila\Downloads\Folder Baru\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([0])

In [13]:
from sklearn.metrics import confusion_matrix,classification_report
print('evaluasi training')
print(confusion_matrix(y_train, y_pred_train))
print(classification_report(y_train, y_pred_train))

print('evaluasi testing')
print(confusion_matrix(y_test, y_pred_test))
print(classification_report(y_train, y_pred_train))

evaluasi training
[[12  0]
 [ 2  1]]
              precision    recall  f1-score   support

           0       0.86      1.00      0.92        12
           1       1.00      0.33      0.50         3

    accuracy                           0.87        15
   macro avg       0.93      0.67      0.71        15
weighted avg       0.89      0.87      0.84        15

evaluasi testing
[[4 1]
 [0 0]]
              precision    recall  f1-score   support

           0       0.86      1.00      0.92        12
           1       1.00      0.33      0.50         3

    accuracy                           0.87        15
   macro avg       0.93      0.67      0.71        15
weighted avg       0.89      0.87      0.84        15